{include file="common/header"/}
<!-- CORE -->
<div class="row">
        <!-- HOME MAIN POSTS -->
        <div class="col-lg-12 col-md-12">
            <section id="home-main">
                <h2 class="icon"><i class="fa fa-television" aria-hidden="true"></i>Av视频</h2>
                <div class="row">
                    <!-- ARTICLES -->
                    <div class="col-lg-9 col-md-12 col-sm-12">
                        <div class="row auto-clear">
                            {volist name="list" id="vo"}
                                <article class="col-lg-3 col-md-6 col-sm-4">
                                    <!-- POST L size -->
                                    <div class="post post-medium">
                                        <div class="thumbr">
                                            <a class="afterglow post-thumb" href="{$vo.vod_url}" data-lity="">
                                            <span class="play-btn-border" title="Play">
                                                <i class="fa fa-play-circle headline-round" aria-hidden="true"></i>
                                            </span>
                                                <div class="cactus-note ct-time font-size-1">
                                                    <span>{$vo.vod_time}</span>
                                                </div>
                                                <img class="img-responsive" src="__INDEX_IMG__/thumbs/thumb-s.jpg" alt="{$v_alt}">
                                            </a>
                                        </div>
                                        <div class="infor">
                                            <h4>
                                                <a class="title" href="#">{$vo.vod_name}</a>
                                            </h4>
                                            <span class="posts-txt" title="Posts from Channel"><i class="fa fa-thumbs-up" aria-hidden="true"></i>20.895</span>
                                            <div class="ratings">
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-half"></i>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            {/volist}
                        </div>
                        <div class="clearfix spacer"></div>
                    </div>
                    <!-- RIGHT ASIDE -->
                    <div class="col-lg-3 hidden-md col-sm-12 text-center top-sidebar">
                        <!-- SUBSCRIBE BOX -->
                        <div class="subscribe-box">
                            <h2 class="icon"><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i>留言</h2>
                            <!-- SUBSCRIBE FIELD -->
                            <form name="search-submit" method="post" action="#" id="subscribe-submit">
                                <fieldset class="search-fieldset">
                                    <textarea rows="5" name="comment" id="comment" cols="5" placeholder="信息"></textarea>
                                    <input id="subscribe" type="text" name="search" size="12" class="search-field" placeholder="你的QQ" value="">
                                    <input id="subscribe1" type="text" name="search" size="12" class="search-field" placeholder="你的电话" value="">
                                    <button class="subscribe-btn" type="submit" title="提交">提交</button>
                                </fieldset>
                            </form>
                        </div>
                        <!-- SIDEBAR ADVERTISE BOX -->

                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<!-- TABS -->

<!-- MAIN -->
<div id="main" class="container-fluid">
    <div class="container-fluid">
        <!-- SIDEBAR -->
        <div class="col-lg-2 hidden-md hidden-sm hidden-xs">
            <aside class="dark-bg sidebar">
                <h2 class="icon"><i class="fa fa-flag" aria-hidden="true"></i>New</h2>
                <article class="col-md-12 post post-medium">
                    <div class="row">
                        <div class="col-md-12 thumbr">
                            <div class="flag flag1"><i class="fa fa-star"></i></div>
                            <a class="post-thumb" href="" data-lity>
                                <span class="play-btn-border" title="Play"><i class="fa fa-play-circle headline-round" aria-hidden="true"></i></span>
                                <div class="cactus-note ct-time font-size-1"><span>02:02</span></div>
                                <img class="img-responsive" src="__INDEX_IMG__/thumbs/thumb-s.jpg" alt="#">
                            </a>
                        </div>
                        <div class="col-md-12 infor">
                            <h4>
                                <a class="title" href="#">1</a>
                            </h4>
                            <span class="posts-txt" title="Posts from Channel"><i class="fa fa-thumbs-up" aria-hidden="true"></i>20.895</span>
                            <div class="ratings">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-half"></i>
                            </div>
                        </div>
                    </div>
                </article>
                <div class="clearfix spacer"></div>
                <article class="reviews">
                    <h2 class="icon"><i class="fa fa-star" aria-hidden="true"></i>HOT</h2>
                    <!-- POST L size -->
                    <div class="post post-medium">
                        <div class="thumbr">
                            <a class="post-thumb" href="" data-lity title="Video Title Goes Here">
                                <span class="play-btn-border" title="Play"><i class="fa fa-play-circle headline-round" aria-hidden="true"></i></span>
                                <div class="cactus-note ct-time font-size-1"><span>02:02</span></div>
                                <img class="review img-responsive" src="__INDEX_IMG__/thumbs/thumb-review.jpg" alt="#">
                            </a>
                        </div>
                    </div>
                </article>
                <div class="clearfix spacer"></div>
                <!-- SIDEBAR ADVERTISE BOX -->

            </aside>
        </div>
        <!-- MAIN CONTENT -->
        <div class="col-lg-10 col-md-12">
            <!-- EDITORS CHOICE -->
            <div class="clearfix"></div>
            <!-- MAIN ROLL ADVERTISE BOX -->
            <!-- CURRENTLY VIEWING -->
            <section id="cur-view">
                <h2 class="icon"><i class="fa fa-flag" aria-hidden="true"></i>最新AV</h2>
                <div class="row auto-clear">
                    <!-- POST L size -->
                    <article class="col-lg-2 col-md-4 col-sm-6 post post-medium">
                        <div class="thumbr">
                            <a class="post-thumb" href="" data-lity>
                                <span class="play-btn-border" title="Play"><i class="fa fa-play-circle headline-round" aria-hidden="true"></i></span>
                                <div class="cactus-note ct-time font-size-1"><span>02:02</span></div>
                                <img class="img-responsive" src="__INDEX_IMG__/thumbs/thumb-s.jpg" alt="#">
                            </a>
                        </div>
                        <div class="infor">
                            <h4>
                                <a class="title" href="#">1</a>
                            </h4>
                            <span class="posts-txt" title="Posts from Channel"><i class="fa fa-thumbs-up" aria-hidden="true"></i>20.895</span>
                            <div class="ratings">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-half"></i>
                            </div>
                        </div>
                    </article>
                    <!-- POST L size -->
                    <article class="col-lg-2 col-md-4 col-sm-6 post post-medium">
                        <div class="thumbr">
                            <a class="post-thumb" href="" data-lity>
                                <span class="play-btn-border" title="Play"><i class="fa fa-play-circle headline-round" aria-hidden="true"></i></span>
                                <div class="cactus-note ct-time font-size-1"><span>02:02</span></div>
                                <img class="img-responsive" src="__INDEX_IMG__/thumbs/thumb-s.jpg" alt="#">
                            </a>
                        </div>
                        <div class="infor">
                            <h4>
                                <a class="title" href="#">1</a>
                            </h4>
                            <span class="posts-txt" title="Posts from Channel"><i class="fa fa-thumbs-up" aria-hidden="true"></i>20.895</span>
                            <div class="ratings">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-half"></i>
                            </div>
                        </div>
                    </article>
                    <!-- POST L size -->
                    <article class="col-lg-2 col-md-4 col-sm-6 post post-medium">
                        <div class="thumbr">
                            <a class="post-thumb" href="" data-lity>
                                <span class="play-btn-border" title="Play"><i class="fa fa-play-circle headline-round" aria-hidden="true"></i></span>
                                <div class="cactus-note ct-time font-size-1"><span>02:02</span></div>
                                <img class="img-responsive" src="__INDEX_IMG__/thumbs/thumb-s.jpg" alt="#">
                            </a>
                        </div>
                        <div class="infor">
                            <h4>
                                <a class="title" href="#">1</a>
                            </h4>
                            <span class="posts-txt" title="Posts from Channel"><i class="fa fa-thumbs-up" aria-hidden="true"></i>20.895</span>
                            <div class="ratings">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-half"></i>
                            </div>
                        </div>
                    </article>
                    <!-- POST L size -->
                    <article class="col-lg-2 col-md-4 col-sm-6 post post-medium">
                        <div class="thumbr">
                            <a class="post-thumb" href="" data-lity>
                                <span class="play-btn-border" title="Play"><i class="fa fa-play-circle headline-round" aria-hidden="true"></i></span>
                                <div class="cactus-note ct-time font-size-1"><span>02:02</span></div>
                                <img class="img-responsive" src="__INDEX_IMG__/thumbs/thumb-s.jpg" alt="#">
                            </a>
                        </div>
                        <div class="infor">
                            <h4>
                                <a class="title" href="#">1</a>
                            </h4>
                            <span class="posts-txt" title="Posts from Channel"><i class="fa fa-thumbs-up" aria-hidden="true"></i>20.895</span>
                            <div class="ratings">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-half"></i>
                            </div>
                        </div>
                    </article>
                    <!-- POST L size -->
                    <article class="col-lg-2 col-md-4 col-sm-6 post post-medium">
                        <div class="thumbr">
                            <a class="post-thumb" href="" data-lity>
                                <span class="play-btn-border" title="Play"><i class="fa fa-play-circle headline-round" aria-hidden="true"></i></span>
                                <div class="cactus-note ct-time font-size-1"><span>02:02</span></div>
                                <img class="img-responsive" src="__INDEX_IMG__/thumbs/thumb-s.jpg" alt="#">
                            </a>
                        </div>
                        <div class="infor">
                            <h4>
                                <a class="title" href="#">1</a>
                            </h4>
                            <span class="posts-txt" title="Posts from Channel"><i class="fa fa-thumbs-up" aria-hidden="true"></i>20.895</span>
                            <div class="ratings">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-half"></i>
                            </div>
                        </div>
                    </article>
                    <!-- POST L size -->
                    <article class="col-lg-2 col-md-4 col-sm-6 post post-medium">
                        <div class="thumbr">
                            <a class="post-thumb" href="" data-lity>
                                <span class="play-btn-border" title="Play"><i class="fa fa-play-circle headline-round" aria-hidden="true"></i></span>
                                <div class="cactus-note ct-time font-size-1"><span>02:02</span></div>
                                <img class="img-responsive" src="__INDEX_IMG__/thumbs/thumb-s.jpg" alt="#">
                            </a>
                        </div>
                        <div class="infor">
                            <h4>
                                <a class="title" href="#">1</a>
                            </h4>
                            <span class="posts-txt" title="Posts from Channel"><i class="fa fa-thumbs-up" aria-hidden="true"></i>20.895</span>
                            <div class="ratings">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-half"></i>
                            </div>
                        </div>
                    </article>
                </div>
            </section>
            <div class="clearfix spacer"></div>
            <!-- REVIEWS -->
            <section id="main-reviews">
                <div id="myCarousel2" class="carousel slide" data-ride="carousel">
                    <h2 class="icon"><i class="fa fa-star" aria-hidden="true"></i>最热AV</h2>
                    <div class="carousel-control-box">
                        <a class="left carousel-control" href="#myCarousel2"  role="button" data-slide="prev"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
                        <a class="right carousel-control" href="#myCarousel2"  role="button" data-slide="next"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                    </div>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <div class="row auto-clear">

                                <article class="reviews col-lg-2 col-md-4 col-sm-6 post post-medium">
                                    <div class="thumbr">
                                        <a class="post-thumb" href="" data-lity>
                                            <span class="play-btn-border" title="Play"><i class="fa fa-play-circle headline-round" aria-hidden="true"></i></span>
                                            <div class="cactus-note ct-time font-size-1"><span>02:02</span></div>
                                            <img class="img-responsive" src="__INDEX_IMG__/thumbs/thumb-s.jpg" alt="#">
                                        </a>
                                    </div>
                                    <div class="infor">
                                        <h4>
                                            <a class="title" href="#">1</a>
                                        </h4>
						   <span class="posts-txt" title="Posts from Channel">
						   <i class="fa fa-thumbs-up" aria-hidden="true"></i>20.895</span>
                                        <div class="ratings">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-half"></i>
                                        </div>
                                    </div>
                                </article>


                                <article class="reviews col-lg-2 col-md-4 col-sm-4">
                                    <!-- POST L size -->
                                    <div class="post post-medium">
                                        <a class="thumbr post-thumb" href="#">
                                            <span class="review-number">4.5</span>
                                            <img src="__INDEX_IMG__/thumbs/thumb-s.jpg" class="review img-responsive" alt="Client">
                                        </a>
                                        <div class="infor">
                                            <h4>
                                                <a class="title" href="#">1</a>
                                            </h4>
                                            <div class="ratings">
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-half"></i>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                                <article class="reviews col-lg-2 col-md-4 col-sm-4">
                                    <!-- POST L size -->
                                    <div class="post post-medium">
                                        <a class="thumbr post-thumb" href="#">
                                            <span class="review-number">4.5</span>
                                            <img src="__INDEX_IMG__/thumbs/thumb-s.jpg" class="review img-responsive" alt="Client">
                                        </a>
                                        <div class="infor">
                                            <h4>
                                                <a class="title" href="#">1</a>
                                            </h4>
                                            <div class="ratings">
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-half"></i>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                                <article class="reviews col-lg-2 col-md-4 col-sm-4">
                                    <!-- POST L size -->
                                    <div class="post post-medium">
                                        <a class="thumbr post-thumb" href="#">
                                            <span class="review-number">4.5</span>
                                            <img src="__INDEX_IMG__/thumbs/thumb-s.jpg" class="review img-responsive" alt="Client">
                                        </a>
                                        <div class="infor">
                                            <h4>
                                                <a class="title" href="#">1</a>
                                            </h4>
                                            <div class="ratings">
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-half"></i>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                                <article class="reviews col-lg-2 col-md-4 col-sm-4">
                                    <!-- POST L size -->
                                    <div class="post post-medium">
                                        <a class="thumbr post-thumb" href="#">
                                            <span class="review-number">4.5</span>
                                            <img src="__INDEX_IMG__/thumbs/thumb-s.jpg" class="review img-responsive" alt="Client">
                                        </a>
                                        <div class="infor">
                                            <h4>
                                                <a class="title" href="#">1</a>
                                            </h4>
                                            <div class="ratings">
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-half"></i>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                                <article class="reviews col-lg-2 col-md-4 col-sm-4">
                                    <!-- POST L size -->
                                    <div class="post post-medium">
                                        <a class="thumbr post-thumb" href="#">
                                            <span class="review-number">4.5</span>
                                            <img src="__INDEX_IMG__/thumbs/thumb-s.jpg" class="review img-responsive" alt="Client">
                                        </a>
                                        <div class="infor">
                                            <h4>
                                                <a class="title" href="#">1</a>
                                            </h4>
                                            <div class="ratings">
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-half"></i>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row auto-clear">
                                <article class="reviews col-lg-2 col-md-4 col-sm-4">
                                    <!-- POST L size -->
                                    <div class="post post-medium">
                                        <a class="thumbr post-thumb" href="#">
                                            <span class="review-number">4.5</span>
                                            <img src="__INDEX_IMG__/thumbs/thumb-s.jpg" class="review img-responsive" alt="Client">
                                        </a>
                                        <div class="infor">
                                            <h4>
                                                <a class="title" href="#">1</a>
                                            </h4>
                                            <div class="ratings">
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-half"></i>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                                <article class="reviews col-lg-2 col-md-4 col-sm-4">
                                    <!-- POST L size -->
                                    <div class="post post-medium">
                                        <a class="thumbr post-thumb" href="#">
                                            <span class="review-number">4.5</span>
                                            <img src="__INDEX_IMG__/thumbs/thumb-s.jpg" class="review img-responsive" alt="Client">
                                        </a>
                                        <div class="infor">
                                            <h4>
                                                <a class="title" href="#">1</a>
                                            </h4>
                                            <div class="ratings">
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-half"></i>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                                <article class="reviews col-lg-2 col-md-4 col-sm-4">
                                    <!-- POST L size -->
                                    <div class="post post-medium">
                                        <a class="thumbr post-thumb" href="#">
                                            <span class="review-number">4.5</span>
                                            <img src="__INDEX_IMG__/thumbs/thumb-s.jpg" class="review img-responsive" alt="Client">
                                        </a>
                                        <div class="infor">
                                            <h4>
                                                <a class="title" href="#">1</a>
                                            </h4>
                                            <div class="ratings">
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-half"></i>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                                <article class="reviews col-lg-2 col-md-4 col-sm-4">
                                    <!-- POST L size -->
                                    <div class="post post-medium">
                                        <a class="thumbr post-thumb" href="#">
                                            <span class="review-number">4.5</span>
                                            <img src="__INDEX_IMG__/thumbs/thumb-s.jpg" class="review img-responsive" alt="Client">
                                        </a>
                                        <div class="infor">
                                            <h4>
                                                <a class="title" href="#">2</a>
                                            </h4>
                                            <div class="ratings">
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-half"></i>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                                <article class="reviews col-lg-2 col-md-4 col-sm-4">
                                    <!-- POST L size -->
                                    <div class="post post-medium">
                                        <a class="thumbr post-thumb" href="#">
                                            <span class="review-number">4.5</span>
                                            <img src="__INDEX_IMG__/thumbs/thumb-s.jpg" class="review img-responsive" alt="Client">
                                        </a>
                                        <div class="infor">
                                            <h4>
                                                <a class="title" href="#">3</a>
                                            </h4>
                                            <div class="ratings">
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-half"></i>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                                <article class="reviews col-lg-2 col-md-4 col-sm-4">
                                    <!-- POST L size -->
                                    <div class="post post-medium">
                                        <a class="thumbr post-thumb" href="#">
                                            <span class="review-number">4.5</span>
                                            <img src="__INDEX_IMG__/thumbs/thumb-s.jpg" class="review img-responsive" alt="Client">
                                        </a>
                                        <div class="infor">
                                            <h4>
                                                <a class="title" href="#">5</a>
                                            </h4>
                                            <div class="ratings">
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-half"></i>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
{include file="common/footer"/}
