<!-- CHANNELS -->
<div id="channels-block" class="container-fluid channels-bg">
    <div class="container-fluid ">
        <div class="col-md-12">
            <!-- CHANNELS -->
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- BOTTOM BANNER -->
<div id="bottom-banner" class="container text-center">
    <!-- BOTTOM ADVERTISE BOX -->
    <a href="" class="banner-xl">
        <img src="__INDEX_IMG__/banners/banner-xl.png" class="img-responsive" alt="易游AV" title="易游AV">
    </a>
</div>
<!-- FOOTER -->
<div id="footer" class="container-fluid footer-background">
    <div class="container">
        <footer>
            <!-- SECTION FOOTER -->
            <div class="row">
                <!-- SOCIAL -->
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="row auto-clear">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <ul class="social">
                                <li class="social-facebook">易游论坛<a href="#" class=""></a></li>
                                <li class="social-google-plus">易游游戏中心<a href="#" class=""></a></li>
                                <li class="social-twitter">易游官网<a href="#" class=""></a></li>
                                <li class="social-youtube">易游直播<a href="#" class=""></a></li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <p class="social-rss text-center">易游集团旗下产品</p>
                        </div>
                        <div class="col-md-8">
                        </div>
                    </div>
                </div>
                <!-- TAGS -->
                <!-- POST -->
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <h2 class="title">公司宣传视频</h2>
                    <div class="row auto-clear">
                        <div class="col-lg-3 col-md-3 col-sm-3 post post-medium">
                            <div class="thumbr">
                                <a class="post-thumb" href="" data-lity title="Video Title Goes Here">
                                    <span class="play-btn-border" title="Play"><i class="fa fa-play-circle headline-round" aria-hidden="true"></i></span>
                                    <div class="cactus-note ct-time font-size-1"><span>02:02</span></div>
                                    <img class="img-responsive" src="__INDEX_IMG__/thumbs/thumb-s.jpg" alt="#">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 post post-medium">
                            <div class="thumbr">
                                <a class="post-thumb" href="" data-lity title="Video Title Goes Here">
                                    <span class="play-btn-border" title="Play"><i class="fa fa-play-circle headline-round" aria-hidden="true"></i></span>
                                    <div class="cactus-note ct-time font-size-1"><span>02:02</span></div>
                                    <img class="img-responsive" src="__INDEX_IMG__/thumbs/thumb-s.jpg" alt="#">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 post post-medium">
                            <div class="thumbr">
                                <a class="post-thumb" href="" data-lity title="Video Title Goes Here">
                                    <span class="play-btn-border" title="Play"><i class="fa fa-play-circle headline-round" aria-hidden="true"></i></span>
                                    <div class="cactus-note ct-time font-size-1"><span>02:02</span></div>
                                    <img class="img-responsive" src="__INDEX_IMG__/thumbs/thumb-s.jpg" alt="#">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 post post-medium">
                            <div class="thumbr">
                                <a class="post-thumb" href="" data-lity title="Video Title Goes Here">
                                    <span class="play-btn-border" title="Play"><i class="fa fa-play-circle headline-round" aria-hidden="true"></i></span>
                                    <div class="cactus-note ct-time font-size-1"><span>02:02</span></div>
                                    <img class="img-responsive" src="__INDEX_IMG__/thumbs/thumb-s.jpg" alt="#">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- LINKS -->
            </div>
            <div class="row copyright-bottom">
                <div class="col-md-12 text-center">
                    <i style="font-size:12px;">
                        重要声明：本网站是以即时线上上涨档案/内容的方式运作运作，
                        色天使对所有档案/内容的真实性.完整性及立场等，
                        不负任何法律责任。而一切档案/内容之言只代表内容发布者个人意见，
                        并非本网站之立场，用户不应相信内容，并应自行判断档案/内容的真实性。
                        关于情形下，用户应寻求专业意见（如涉及医疗，法律或投资等问题）。
                        由于本网站由于本网站受到「即时下载档案/內容」运作方式所限制，
                        故不能完全监察所有档案/內容，若读者发现有档案/內容出现问题，
                        请联络我們。色天使有权删除任何档案/內容及拒绝任何人士下载档案/內容，同时亦有不刪除档案/內容的权利。
                        切勿宣传粗言、诽谤、渲染色情暴力或人身攻击的言论，敬请自律。本网站保留一切法律权利。
                    </i>
                    <p style="color:red">Copyright &copy; 2017-2020 易游网络</p>
                </div>
            </div>
        </footer>
    </div>
</div>
<!-- JAVA SCRIPT -->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="__INDEX_JS__/jquery-1.12.1.min.js"></script>
<script src="__INDEX_JS__/bootstrap.min.js"></script>
<script src="__INDEX_JS__/frank.min.js"></script>
<script>
    $(".nav .dropdown").hover(function() {
        $(this).find(".dropdown-toggle").dropdown("toggle");
    });
</script>
<!-- MODAL -->
<div id="enquirypopup" class="modal fade in " role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content row">
            <div class="modal-header custom-modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h2 class="icon"><i class="fa fa-television" aria-hidden="true"></i>用户登入</h2>
            </div>
            <div class="modal-body">
                <form name="info_form" class="form-inline" action="#" method="post">
                    <div class="form-group col-sm-12">
                        <input type="text" class="form-control" name="name" id="name" placeholder="Enter Name">
                    </div>
                    <div class="form-group col-sm-12">
                        <input type="email" class="form-control" name="email" id="email" placeholder="Enter Email">
                    </div>
                    <div class="form-group col-sm-12">
                        <button class="subscribe-btn pull-right" type="submit" title="Subscribe">提交</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>