<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="OrcasThemes">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <title>{$title}</title>
    <!-- Bootstrap core CSS -->
    {css href="__INDEX_CSS__/bootstrap.css" /}
    <!-- Custom styles for this template -->
    {css href="__INDEX_CSS__/screen.css" /}
    {css href="__INDEX_CSS__/animation.css" /}
    <!--[if IE 7]>

    <![endif]-->
    {css href="__INDEX_CSS__/font-awesome.css" /}
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="__INDEX_CSS__/ie.css" type="text/css" media="screen, projection">
    <![endif]-->
    {css href="__INDEX_CSS__/frank.min.css" /}
</head>
<body>
<!-- HOME 1 -->
<div id="home1" class="container-fluid standard-bg">
    <!-- HEADER -->
    <div class="row header-top">
        <div class="col-lg-3 col-md-6 col-sm-5 col-xs-8">
            <a class="main-logo" href="#"><img src="__INDEX_IMG__/main-logo.png" class="main-logo" alt="易游AV首页" title="易游AV首页"></a>
        </div>
        <div class="col-lg-6 hidden-md text-center hidden-sm hidden-xs">
            <img src="__INDEX_IMG__/banners/banner-sm.png" class="img-responsive" alt="Buy Now">
        </div>
        <div class="col-lg-3 col-md-6 col-sm-7 hidden-xs">
            <div class="right-box">
                {gt name = 'data["user_id"]' value = "0"}
                    当前用户：{$data.user_name}
                    &nbsp;&nbsp;<a type="button" class="" href="{:url('index/UserInfo/logout')}">退出</a>
                {else/}
                    <button type="button" class="access-btn" data-toggle="modal" data-target="#enquirypopup">登入</button>
                {/gt}

            </div>
        </div>
    </div>
    <!-- MENU -->
    <div class="row home-mega-menu ">
        <div class="col-md-12">
            <nav class="navbar navbar-default">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse js-navbar-collapse megabg dropshd ">
                    <ul class="nav navbar-nav">
                        <li style="font-family: 'Microsoft Yahei', sans-serif" ><a href="{:url('/index')}">首页</a></li>
                        <li><a href="{:url('/index/video')}">播放列表</a></li>
                        <li><a href="{:url('login')}">用户注册</a></li>
                        <li><a href="{:url('contact')}">留言</a></li>
                    </ul>
                    <div class="search-block">
                        <form>
                            <input type="search" placeholder="Search">
                        </form>
                    </div>
                </div>
                <!-- /.nav-collapse -->
            </nav>
        </div>
    </div>
